.img-avt-admin {
    display: block;
    max-width:90px;
    max-height:90px;  
    width: auto;  
    height: auto;
}

table, th, td{
    border:1px solid #ccc;
}
table{
    border-collapse:collapse;
    width:100%;
}
th, td{
    text-align:center;
    padding:10px;
}
tr:hover{
    background-color:#ddd;
    cursor:pointer;
}

.btn-hide {
    background-color: rgb(10, 34, 100);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    height: 25px;
    width: 50px;
}

.btn-hide:hover {
    background-color: rgb(230, 227, 74);
    color: black;
}

.text-white  {
    color: white;
}
